.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: #080202;
    color: #8d169d;
  }
  
  .navbar_logo {
    display: flex;
    align-items: center;
  }
  
  .navbar_logo img {
    width: 75px;
    margin-right: .8em;
    align-items: center;
    
    
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar li,
  .navbar a {
    text-decoration: none;
    color: #8d169d;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
    text-align: center;
  }
  
  .navbar li:hover {
    background-color: #8d169d;
    color: #FFF;
  }
  
  .navbar li:hover > a {
    color: #FFF;
  }