* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

h1 {
  color:rgb(57, 57, 75);
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold {
  font-weight: bold;
  color:blue;
}

.Container_container__lKvay {
  margin-top: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}
